body {
  background-image: url(./assets/retro-alarm-clock-corner-pink-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  min-height: 100vh;
}

.Digital-Clock-Container {
 
  backdrop-filter: blur(50px ) ;
  width: 100vw;


}

.Digital-Clock {
  color: white;
  font-size: 6rem;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.552);
  text-align: center;
}
